.Header__h1 {
  margin: 0;
  font: bold 1.6rem Karla;
  color: #2B283A;
  letter-spacing: -0.05rem;
}

.Header__desc {
  margin: 0;
  width: 14.55rem;
  font: 0.8rem Inter;
  color: #4A4E74;
  letter-spacing: -0.02rem;
}
